{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Liste Utilisateurs{% endblock %}

{% block content %}
{{parent()}}
<div class="container-fluid">           
    <div class="row justify-content-center">            
        <h1 class="text-center text-primary p-4">Liste des utilisateurs</h1>        
    </div>        
    
    <div class="row justify-content-center">            
        <div class="col-8 bg-white p-4 m-0 text-primary">                
            <ul class="list-group">
                {% for user in users %}
                <li class="list-group-item list-group-item-{{cycle(['secondary','light'], loop.index0)}}">{{user.prenom|capitalize}} {{user.nom|upper}} Date d'inscription : {{user.dateinscription|date('Y-m-d')}} Date de naissance : {{user.datenaissance|date('Y-m-d')}} <a href="{{path('modif_utilisateur',{'id':user.id})}}"><span class="material-icons text-dark" title="Modifier l'utilisateur">create</span></a></li>
                {% endfor %}
            </ul>        
        </div>        
    </div>
</div>
{% endblock %}
{% block javascripts %}{{parent()}}{% endblock %}