{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Modification Utilisateur{% endblock %}

{% block content %}
{{parent()}}
<div class="container-fluid">         
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{base64}}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">{{user.prenom|capitalize}} {{user.nom|upper}}</h5>
                    <p class="card-text">Date de naissance : {{user.datenaissance|date('Y-m-d')}}</p>
                    <p class="card-text">Date d'inscription : {{user.dateinscription|date('Y-m-d')}}</p>
                    <div class="row justify-content-center">            
                        <div class="col-8 bg-white p-4 m-0 text-primary">                
                        {{form_start(form)}}
                            <div class="form-group">                    
                                {{ form_label(form.photo, 'Image de profil ', {'label_attr': {'class': 'font-weight-bold'}}) }}                    
                                {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}                
                            </div>          

                            <div class="form-group mx-auto text-center">                    
                                {{ form_widget(form.send, { 'label': "Modifier", 'attr': {'class': 'btn font-weight-bold bg-primary text-white mx-auto text-center'}}) }}                
                            </div>                  
                        {{form_end(form)}}                
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}{{parent()}}{% endblock %}
